---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="NayaraPaints">
  <!--===== HERO AREA STARTS =======-->
  <div class="vl-hero2-area aboutus_hero parallaxie " style="background-image:url(/assets/img/hero/hero-hm2-bg.webp)">
    <div class="container">
      <div class="row">
        <div class="col-xl-6">
          <div class="aboutus_hero_title">
            <h2>About Nayara Paints</h2>
            <div class="space26"></div>
            <ul>
              <li><a href="/">Home</a></li>
              <li><img src="/assets/img/about/aboutuss-inr-hero-icon.svg" alt=""></li>
              <li><a class="aboutus_titlefix" href="/about-us/">About Us</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--===== HERO AREA ENDS =======-->


  <!--===== BRAND AREA START =======-->
  <section class="tp-text-slider tp-text-bg-2 fix" style="background-image:url(/assets/img/hero/hero2text-slide-bg.png)">
    <div class="test tp-text-slider-rotate">
      <div class="swiper tpcauses-text-slider-active">
        <div class="swiper-wrapper tp-slide-transtion">
          <div class="swiper-slide">
            <div class="tp-text-slide">
              <h2 class="tp-text-slide-title"><img src="/assets/img/hero/hero2-brand-star.svg" alt=""> Interior Texture
              </h2>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="tp-text-slide">
              <h2 class="tp-text-slide-title"><img src="/assets/img/hero/hero2-brand-star.svg" alt=""> Exterior Texture
              </h2>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="tp-text-slide">
              <h2 class="tp-text-slide-title"><img src="/assets/img/hero/hero2-brand-star.svg" alt=""> Decorative Finishes
              </h2>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="tp-text-slide">
              <h2 class="tp-text-slide-title"><img src="/assets/img/hero/hero2-brand-star.svg" alt=""> Designer Texture
              </h2>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="tp-text-slide">
              <h2 class="tp-text-slide-title"><img src="/assets/img/hero/hero2-brand-star.svg" alt=""> Waterproof Texture</h2>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="tp-text-slide">
              <h2 class="tp-text-slide-title"><img src="/assets/img/hero/hero2-brand-star.svg" alt=""> Distributorship
              </h2>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>
  <!--===== BRAND AREA END =======-->



  <!--===== ABOUT AREA STARTS =======-->
  <div class="vl-about3-area sp1">
    <div class="container">
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12">
          <div class="col-xl-12 col-lg-12 col-md-12">
            <div class="row">
              <div class="col-xl-6 col-lg-6 col-md-6">
                <div class="vl-about3-thumb-info">
                  <div class="vl-about3-thumb-info-img image-anime">
                    <img src="/assets/img/about/about3-thumb(1).png" alt="">
                  </div>
                  <div class="space30"></div>
                  <div class="vl-about3-thumb-info-box">
                    <div class="vl-about3-thumb-info-box-img">
                      <img src="/assets/img/about/about3-thumb-box.png" alt="">
                    </div>
                    <div class="space16"></div>
                    <h3>Premium Quality</h3>
                  </div>
                </div>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-6">
                <div class="vl-about3-thumb">
                  <div class="vl-about3-thumb-img image-anime">
                    <img src="/assets/img/about/about3-thumb(2).png" alt="">
                  </div>
                  <div class="space30"></div>
                  <div class="vl-about3-thumb-img image-anime">
                    <img src="/assets/img/about/about3-thumb(3).png" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-6 col-lg-6">
          <div class="vl-about3-heading">
            <h4 class="about3-subtitle">About us</h4>
            <div class="space16"></div>
            <h2 class="about3-title">Texture Wall Finish Manufacturing Company in Ahmedabad</h2>
            <div class="space16"></div>
            <p>Nayara Paints® is an ISO 9001 : 2015 certified Texture Wall Finishes Manufacturing Company based in Ahmedabad, Gujarat. We manufacture premium quality interior and exterior wall texture products suitable for homes, offices, showrooms and commercial buildings across India. Our wall texture solutions are tested, approved and recommended by leading Architects and Consultants.</p>
          </div>
          <div class="space32"></div>
          <div class="row">
            <div class="col-xl-6">
              <div class="vl-about3-items">
                <ul>
                  <li><span><img src="/assets/img/icon/about3-list-icon.svg" alt="">Premium Ingredients</span></li>
                  <li><span><img src="/assets/img/icon/about3-list-icon.svg" alt="">Indian Climate Ready</span></li>
                  <li><span><img src="/assets/img/icon/about3-list-icon.svg" alt="">Local Manufacturing</span></li>
                </ul>
              </div>
            </div>
            <div class="col-xl-6">
              <div class="vl-about3-items">
                <ul>
                  <li><span><img src="/assets/img/icon/about3-list-icon.svg" alt="">Consistent Quality</span>
                  </li>
                  <li><span><img src="/assets/img/icon/about3-list-icon.svg" alt="">Durable Finishes</span></li>
                  <li><span><img src="/assets/img/icon/about3-list-icon.svg" alt="">Export Quality Standards</span></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="space32"></div>
          <div class="vl-about3-list-border"></div>
          <div class="space32"></div>
          <div class="vl-about3-counter">
            <div class="vl-about3-counter-info">
              <h2><span class="counter">98</span>%</h2>
              <div class="space18"></div>
              <p>Customer Satisfaction</p>
            </div>
            <div class="vl-about3-counter-info">
              <h2><span class="counter">500</span>+</h2>
              <div class="space18"></div>
              <p>Projects Completed</p>
            </div>
          </div>
          <div class="space32"></div>
          <div class="btn_area3">
            <a href="/contact/" class="vl-btn3">Contact Us</a>
          </div>
        </div>
      </div>
    </div>
    <div class="about1-shape">
      <div class="about1-shape-img">
        <img class="shape_aboutus_fixxer" src="/assets/img/shape/about1-shape.png" alt="">
      </div>
    </div>
  </div>
  <!--===== ABOUT AREA END =======-->




  <!--===== ABOUT AREA START =======-->
  <div class="vl-aboutus_choose sp1">
    <div class="container">
      <div class="row">
        <div class="aboutus_choose_top">
          <div class="our_services_heading">
            <div class="vl-about-title-area">
              <h3 class="sub-title"><img src="/assets/img/icon/about-subtitle-icon-hm1.svg" alt="">Why Choose Nayara
                Paints</h3>
              <div class="space22"></div>
              <h2 class="title">Quality You Can Trust, <br> Directly from Manufacturer</h2>
            </div>
          </div>
          <div class="aboutus_choose_text">
            <p class="mt-20_brk">With advanced manufacturing technology and strict quality control, <br> Nayara Paints
              ensures every bucket delivers superior coverage and durability. <br> We are committed to providing the
              best paint solutions <br> for homes and businesses across Gujarat.
            </p>
          </div>
        </div>
        <div class="space60"></div>
        <div class="col-xl-6 col-lg-6 col-md-8 mx-auto">
          <div class="aboutus_choose_thumb image-anime">
            <img src="/assets/img/choosse/aboutuss-inr-choose-thumb.png" alt="">
          </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12">
          <div class="col-xl-12 col-lg-12 col-md-12">
            <div class="row">
              <div class="col-xl-6 col-lg-6 col-md-6">
                <div class="aboutus_choose_box mb-20_brk">
                  <div class="aboutus_choose_box_icon">
                    <img src="/assets/img/icon/project2-icon(4).svg" alt="">
                  </div>
                  <div class="space32"></div>
                  <h3><a href="/about-us/">Quality Assurance</a></h3>
                  <div class="space20"></div>
                  <p>Our paints are tested for durability, washability, and color retention.</p>
                </div>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-6">
                <div class="aboutus_choose_thumb_mini">
                  <img src="/assets/img/choosse/aboutuss-inr-choose-thumb-mini(1).png" alt="">
                </div>
              </div>
              <div class="space22"></div>
              <div class="col-xl-6 col-lg-6 col-md-6">
                <div class="aboutus_choose_thumb_mini mb-20_brk">
                  <img src="/assets/img/choosse/aboutuss-inr-choose-thumb-mini(2).png" alt="">
                </div>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-6">
                <div class="aboutus_choose_box">
                  <div class="aboutus_choose_box_icon">
                    <img src="/assets/img/icon/project2-icon(4).svg" alt="">
                  </div>
                  <div class="space32"></div>
                  <h3><a href="/about-us/">Customer Focus</a></h3>
                  <div class="space20"></div>
                  <p>We believe in building long-term relationships through quality and trust.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--===== ABOUT AREA END =======-->



  <!--===== TEAM  AREA START =======-->
  <div class="vl-team2-area blue-bg sp1">
    <div class="container">
      <div class="row">
        <div class="our_services_top">
          <div class="our_services_heading">
            <div class="vl-about-title-area">
              <h3 class="sub-title clr-white"><img src="/assets/img/icon/about-subtitle-icon-hm1.svg" alt="">Our Team
              </h3>
              <div class="space22"></div>
              <h2 class="title clr-white">Behind Every Beautiful <br> Wall Is a Great Team</h2>
            </div>
          </div>
          <div class="our_services_top_btn">
            <div class="btn_area1">
              <a href="/about-us/" class="vl-btn1"> See More Team <i class="fa-solid fa-arrow-right"></i></a>
            </div>
          </div>
        </div>
        <div class="space60"></div>
        <div class="col-xl-3 col-lg-4 col-md-6">
          <div class="team__three__wrap team__three__wrap-inner">
            <div class="team__three__wrap-thumb">
              <img class="w-100" src="/assets/img/team/team2-img(1).png" alt="">
              <div class="team__three__wrap-thumb-social">
                <ul>
                  <li><a href="/about-us/#"><i class="fa-solid fa-plus plusicon"></i> <i
                        class="fas fa-minus plusminus"></i></a></li>
                  <li><a href="/about-us/#"><i class="fa-brands fa-linkedin-in"></i></a></li>
                  <li><a href="/about-us/#"><i class="fa-brands fa-facebook-f"></i></a></li>
                  <li><a href="/about-us/#"><i class="fa-brands fa-instagram"></i></a></li>
                  <li><a href="/about-us/#"><i class="fab fa-twitter"></i></a></li>
                  <li><a href="/about-us/#"><i class="fas fa-basketball-ball"></i></a></li>
                </ul>
              </div>
            </div>
            <div class="team3_box_content text-center">
              <h3 class="team3_box_content_title"><a href="about-us.html">Manufacturing Team</a></h3>
              <div class="space12"></div>
              <span>Expert Technicians</span>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6">
          <div class="team__three__wrap team__three__wrap-inner">
            <div class="team__three__wrap-thumb">
              <img class="w-100" src="/assets/img/team/team2-img(2).png" alt="">
              <div class="team__three__wrap-thumb-social">
                <ul>
                  <li><a href="/about-us/#"><i class="fa-solid fa-plus plusicon"></i> <i
                        class="fas fa-minus plusminus"></i></a></li>
                  <li><a href="/about-us/#"><i class="fa-brands fa-linkedin-in"></i></a></li>
                  <li><a href="/about-us/#"><i class="fa-brands fa-facebook-f"></i></a></li>
                  <li><a href="/about-us/#"><i class="fa-brands fa-instagram"></i></a></li>
                  <li><a href="/about-us/#"><i class="fab fa-twitter"></i></a></li>
                  <li><a href="/about-us/#"><i class="fas fa-basketball-ball"></i></a></li>
                </ul>
              </div>
            </div>
            <div class="team3_box_content text-center">
              <h3 class="team3_box_content_title"><a href="about-us.html">Management Team</a></h3>
              <div class="space12"></div>
              <span>Leadership</span>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6">
          <div class="team__three__wrap team__three__wrap-inner">
            <div class="team__three__wrap-thumb">
              <img class="w-100" src="/assets/img/team/team2-img(3).png" alt="">
              <div class="team__three__wrap-thumb-social">
                <ul>
                  <li><a href="/about-us/#"><i class="fa-solid fa-plus plusicon"></i> <i
                        class="fas fa-minus plusminus"></i></a></li>
                  <li><a href="/about-us/#"><i class="fa-brands fa-linkedin-in"></i></a></li>
                  <li><a href="/about-us/#"><i class="fa-brands fa-facebook-f"></i></a></li>
                  <li><a href="/about-us/#"><i class="fa-brands fa-instagram"></i></a></li>
                  <li><a href="/about-us/#"><i class="fab fa-twitter"></i></a></li>
                  <li><a href="/about-us/#"><i class="fas fa-basketball-ball"></i></a></li>
                </ul>
              </div>
            </div>
            <div class="team3_box_content text-center">
              <h3 class="team3_box_content_title"><a href="about-us.html">Sales Team</a></h3>
              <div class="space12"></div>
              <span>Customer Support</span>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6">
          <div class="team__three__wrap team__three__wrap-inner">
            <div class="team__three__wrap-thumb">
              <img class="w-100" src="/assets/img/team/team2-img(4).png" alt="">
              <div class="team__three__wrap-thumb-social">
                <ul>
                  <li><a href="/about-us/#"><i class="fa-solid fa-plus plusicon"></i> <i
                        class="fas fa-minus plusminus"></i></a></li>
                  <li><a href="/about-us/#"><i class="fa-brands fa-linkedin-in"></i></a></li>
                  <li><a href="/about-us/#"><i class="fa-brands fa-facebook-f"></i></a></li>
                  <li><a href="/about-us/#"><i class="fa-brands fa-instagram"></i></a></li>
                  <li><a href="/about-us/#"><i class="fab fa-twitter"></i></a></li>
                  <li><a href="/about-us/#"><i class="fas fa-basketball-ball"></i></a></li>
                </ul>
              </div>
            </div>
            <div class="team3_box_content text-center">
              <h3 class="team3_box_content_title"><a href="about-us.html">Quality Control</a></h3>
              <div class="space12"></div>
              <span>Lab Experts</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--===== TEAM  AREA ENDS =======-->




  <!--===== FAQ  AREA START =======-->
  <div class="vl-aboutus_faq-area sp1">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-xl-6 col-lg-6">
          <div class="vl-faq-content-wrap-2 vl-faq-inner" data-sal="slide-up" data-sal-duration="1000"
            data-sal-delay="100" data-sal-easing="ease-in-out">
            <div class="vl-faq-accordion">
              <div class="accordion" id="accordionExample">
                <div class="vl-accordion-item">
                  <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                      data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                      What types of paints do you manufacture?
                      <span class="vl-faqarrow vl-faqarrow-2"><i class="fa-solid fa-angle-down"></i></span>
                    </button>
                  </h2>
                  <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      <p class="para">We manufacture a wide range of premium Texture Wall Finishes, including Interior Textures, Exterior Weather-Proof Textures, Decorative Finishes, Designer Textures, and Waterproof Texture Coatings.</p>
                    </div>
                  </div>
                </div>
                <div class="vl-accordion-item">
                  <h2 class="accordion-header" id="headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                      data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                      Do you offer bulk supply for contractors?
                      <span class="vl-faqarrow vl-faqarrow-2"><i class="fa-solid fa-angle-down"></i></span>
                    </button>
                  </h2>
                  <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      <p class="para">Yes, we provide bulk supply options for contractors, builders, and large-scale
                        commercial projects with competitive pricing and timely delivery.</p>
                    </div>
                  </div>
                </div>
                <div class="vl-accordion-item">
                  <h2 class="accordion-header" id="headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                      data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                      How do I choose the right texture for my home?
                      <span class="vl-faqarrow vl-faqarrow-2"><i class="fa-solid fa-angle-down"></i></span>
                    </button>
                  </h2>
                  <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      <p class="para">Our team can guide you in selecting the best texture based on your wall type, design preference, and exposure to weather. Contact us for expert advice.</p>
                    </div>
                  </div>
                </div>
                <div class="vl-accordion-item">
                  <h2 class="accordion-header" id="heading4">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                      data-bs-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
                      Do you have a showroom in Ahmedabad?
                      <span class="vl-faqarrow vl-faqarrow-2"><i class="fa-solid fa-angle-down"></i></span>
                    </button>
                  </h2>
                  <div id="collapse4" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      <p class="para">Yes, our manufacturing unit and office is located in Sarkhej, Ahmedabad. You can
                        visit us or call +91 7383097777 for details.</p>
                    </div>
                  </div>
                </div>
                <div class="vl-accordion-item">
                  <h2 class="accordion-header" id="heading5">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                      data-bs-target="#collapse5" aria-expanded="false" aria-controls="collapse5">
                      Are your paints washable?
                      <span class="vl-faqarrow vl-faqarrow-2"><i class="fa-solid fa-angle-down"></i></span>
                    </button>
                  </h2>
                  <div id="collapse5" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      <p class="para">Yes, our premium interior emulsions offer excellent washability and stain
                        resistance, making them easy to maintain and durable.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-6 col-lg-6">
          <div class="our_services_heading mt-32_brk">
            <div class="vl-about-title-area">
              <h3 class="sub-title"><img src="/assets/img/icon/about-subtitle-icon-hm1.svg" alt="">Frequently Asked
                Questions</h3>
              <div class="space22"></div>
              <h2 class="title aboutus_faq_title">Know Before You Paint Your <br> Top Questions Answered</h2>
            </div>
          </div>
          <div class="space50"></div>
          <div class="aboutus_faq-area-thumb image-anime">
            <img src="/assets/img/faq/aboutuss-faq_thumb.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--===== FAQ  AREA ENDS =======-->
</BaseLayout>
