---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="NayaraPaints">
  <!--===== HERO AREA STARTS =======-->
  <div class="vl-hero2-area aboutus_hero parallaxie" style="background-image:url(/assets/img/hero/hero-hm2-bg.webp)">
    <div class="container">
      <div class="row">
        <div class="col-xl-6">
          <div class="aboutus_hero_title">
            <h2>Contact Nayara Paints in Ahmedabad</h2>
            <div class="space26"></div>
            <ul>
              <li><a href="/">Home</a></li>
              <li><img src="/assets/img/about/aboutuss-inr-hero-icon.svg" alt=""></li>
              <li><a class="aboutus_titlefix" href="/contact/">Contact Us </a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--===== HERO AREA ENDS =======-->


  <!--===== BRAND AREA START =======-->
  <section class="tp-text-slider tp-text-bg-2 fix" style="background-image:url(/assets/img/hero/hero2text-slide-bg.png)">
    <div class="test tp-text-slider-rotate">
      <div class="swiper tpcauses-text-slider-active">
        <div class="swiper-wrapper tp-slide-transtion">
          <div class="swiper-slide">
            <div class="tp-text-slide">
              <h2 class="tp-text-slide-title"><img src="/assets/img/hero/hero2-brand-star.svg" alt=""> Interior Texture
              </h2>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="tp-text-slide">
              <h2 class="tp-text-slide-title"><img src="/assets/img/hero/hero2-brand-star.svg" alt=""> Exterior Texture
              </h2>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="tp-text-slide">
              <h2 class="tp-text-slide-title"><img src="/assets/img/hero/hero2-brand-star.svg" alt=""> Decorative Finishes
              </h2>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="tp-text-slide">
              <h2 class="tp-text-slide-title"><img src="/assets/img/hero/hero2-brand-star.svg" alt=""> Designer Texture
              </h2>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="tp-text-slide">
              <h2 class="tp-text-slide-title"><img src="/assets/img/hero/hero2-brand-star.svg" alt=""> Waterproof Texture</h2>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="tp-text-slide">
              <h2 class="tp-text-slide-title"><img src="/assets/img/hero/hero2-brand-star.svg" alt=""> Distributorship
              </h2>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>
  <!--===== BRAND AREA END =======-->


  <!--===== CONTACT DETAILS AREA STRAT =======-->
  <div class="vl-contact_inner-box sp1">
    <div class="container">
      <div class="row">
        <div class="col-xl-4 col-lg-4 col-md-6">
          <div class="contact_inner-box mb-20_brk">
            <div class="contact_inner_logo">
              <img src="/assets/img/contact/contact_innerbox-icon(1).svg" alt="">
            </div>
            <div class="space28"></div>
            <div class="contact_inner-content">
              <h3>Office Number</h3>
              <div class="space20"></div>
              <ul>
                <li class="number_tags"><a href="tel:+917383097777">+91 73830 97777</a></li>
                <li class="space12"></li>
                <li class="number_tags"><a href="tel:+919274833123">+91 92748 33123</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6">
          <div class="contact_inner-box">
            <div class="contact_inner_logo">
              <img src="/assets/img/contact/contact_innerbox-icon(2).svg" alt="">
            </div>
            <div class="space28"></div>
            <div class="contact_inner-content">
              <h3>Our Location</h3>
              <div class="space20"></div>
              <ul>
                <li class="number_tags"><a href="https://maps.google.com">Near IMAD TP85-100 Feet Road,</a></li>
                <li class="space12"></li>
                <li class="number_tags"><a href="https://maps.google.com">Sarkhej, Ahmedabad, Gujarat</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6">
          <div class="contact_inner-box mt-20_brk">
            <div class="contact_inner_logo">
              <img src="/assets/img/contact/contact_innerbox-icon(3).svg" alt="">
            </div>
            <div class="space28"></div>
            <div class="contact_inner-content">
              <h3>Website</h3>
              <div class="space20"></div>
              <ul>
                <li class="number_tags"><a href="index.html">www.nayarapaints.com</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--===== CONTACT DETAILS AREA END =======-->




  <!-- MAPS -->
  <div class="vl-contact_inner-map-area sp1">
    <div class="vl-contact_inner-map">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d387196.0767056162!2d-74.30915260434136!3d40.69667268749133!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2sNew%20York%2C%20NY%2C%20USA!5e0!3m2!1sen!2sbd!4v1759661920057!5m2!1sen!2sbd"
        style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      <div class="vl-contact_inner-from">
        <div class="container">
          <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6"></div>
            <div class="col-xl-6 col-lg-6 col-md-12">
              <form class="contact3-info-form contactinner_from xs-mt20" action="/contact/#">
                <h2 class="contactinr_fromtitle">Contact Info</h2>
                <div class="space32"></div>
                <div class="row">
                  <div class="col-xl-6 col-lg-6 col-md-6 mb-20_brk">
                    <h3 class="contact3-from-title">First Name*</h3>
                    <div class="space16"></div>
                    <input type="text" placeholder="First Name">
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-6">
                    <h3 class="contact3-from-title">Phone Number*</h3>
                    <div class="space16"></div>
                    <input type="text" placeholder="Phone Number">
                  </div>
                  <div class="space32"></div>
                  <div class="col-xl-6 col-lg-6 col-md-6 mb-20_brk">
                    <h3 class="contact3-from-title">Email Address*</h3>
                    <div class="space16"></div>
                    <input type="text" placeholder="Email">
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-6">
                    <h3 class="contact3-from-title">Service Type*</h3>
                    <div class="space16"></div>
                    <div class="contact3-select">
                      <select class="wide">
                        <option data-display="Select Service">Select Service</option>
                        <option value="1">Interior Wall Texture</option>
                        <option value="2">Exterior Wall Texture</option>
                        <option value="3">Decorative Finishes</option>
                        <option value="4">Waterproof Texture</option>
                        <option value="5">Distributorship Enquiry</option>
                      </select>
                    </div>
                  </div>
                  <div class="space22"></div>
                  <div class="col-xl-12">
                    <h3 class="contact3-from-title">Message*</h3>
                    <div class="space16"></div>
                    <textarea name="message" id="message" placeholder="Type your message..."></textarea>
                  </div>
                  <div class="space32"></div>
                  <div class="btn_area3">
                    <button type="submit" class="vl-btn3">Send Now</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- MAPS -->
</BaseLayout>
